<div class="well hoverwell thumbnail">
  <h2>{{event?.name}}</h2>
  <div>Date: {{event?.date}}</div>
  <div style="font-size: normal;" [style.color]="event?.time === '9:00 am' ? 'lightgrey' :'lightgreen'"
    [ngStyle]="{'color':event?.time === '9:00 am'? 'lightgrey' :'lightgreen'}" [ngStyle]="getStartTimeStyle2()"
    class='dummy' [class.green]="event?.time !== '9:00 am'" [ngClass]="{bold: event?.time !== '9:00 am'}"
    [ngClass]="getStartTimeClass2()" [ngSwitch]="event?.time">
    Time: {{event?.time}}
    <span *ngSwitchCase="'8:00 am'"> (Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <div>Price: ${{event?.price}}</div>
  <div [hidden]="!event.location">
    <span>Location: {{event?.location?.address}}</span>
    <span class=" pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">Online URL: {{event?.onlineUrl}}</div>
  <button class="btn btn-primary test-btn" (click)=handleClickMe()>Call Parent</button>
</div>